<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智果</title>
    <link rel="stylesheet" href="__CSS__/index.css">

    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="main">
        <div class="nav">
           <span class="big-fitter">智果</span><span>内容付费系统</span>
           <span class="position-right"><a class="active" href="#">首页</a><a href="#">访谈</a></span>
        </div>
        <div class="picture">
            <img src="__PUBLIC__/images/picture.png"/>
        </div>
        <div class="system">
            <div class="title"><h3>首款开源内容付费系统</h3></div>
            <div class="triangle"></div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="border color-violet">
                        <img src="__PUBLIC__/images/1.png"/></div>
                    <dl>
                        <dt>100%所有权</dt>
                        <dd>拒绝抽成，数据独享，不受平台制约</dd>
                        <dd class="text-left">独立部署运行</dd>
                    </dl>
                </div>
                <div class="col-xs-4">
                    <div class="border color-green">
                        <img src="__PUBLIC__/images/2.png" /></div>
                    <dl>
                        <dt>未来与社交无缝接轨</dt>
                        <dd>内容付费与社交相结合</dd>
                    </dl>
                </div>
                <div class="col-xs-4">
                    <div class="border color-blue">
                        <img src="__PUBLIC__/images/3.png" /></div>
                    <dl>
                        <dt>多种内容形式支持</dt>
                        <dd>图文、音频、视频等内容形式均可支持</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 ">
                    <div class="border color-orange ">
                        <img src="__PUBLIC__/images/4.png" /></div>
                    <dl>
                        <dt>便捷的广告管理</dt>
                        <dd>站内任何地方均可放置广告位</dd>
                    </dl>
                </div>
                <div class="col-xs-4">
                    <div class="border color-lightgreen">
                        <img src="__PUBLIC__/images/5.png"/></div>
                    <dl>
                        <dt>可定制化</dt>
                        <dd>提供源码，可二次开发，个性化</dd>
                    </dl>
                </div>
                <div class="col-xs-4">
                    <div class="border color-lightorange">
                        <img src="__PUBLIC__/images/6.png" /></div>
                    <dl>
                        <dt>完整的支付及订单系统</dt>
                        <dd>从付款到消费，全程无缝体验</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="border color-red">
                        <img src="__PUBLIC__/images/7.png" height="180" width="180"/></div>
                    <dl>
                        <dt>数据统计</dt>
                        <dd>让你实时了解运营状态</dd>
                    </dl>
                </div>
                <div class="col-xs-4">
                    <div class="border color-lightblue">
                        <img src="__PUBLIC__/images/8.png" height="180" width="180"/></div>
                    <dl>
                        <dt>营销扩展</dt>
                        <dd>各类营销插件支持</dd>
                    </dl>
                </div>
                <div class="col-xs-4">
                    <div class="border color-darkgreen">
                        <img src="__PUBLIC__/images/9.png" /></div>
                    <dl>
                        <dt>分销</dt>
                        <dd>支持内容分销体系</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="recruit">
            <div class="title"><h3>天使客户招募</h3></div>
            <div class="triangle border-color"></div>
            <div class="content">
                <span class="condition">招募条件</span>
                <img src="__PUBLIC__/images/tiaojian.png"/>
                <p style="top:6px">自媒体公司、个人，内容创业者，教育从业者等等</p>
                <p style="top:120px">演绎尝鲜、有足够的时间陪我们折腾</p>
                <p style="top:206px">未来也愿意适当付费使用商品</p>
                <p style="top:312px">有着不错的行业背景和前瞻性</p>
                <img src="__PUBLIC__/images/lady.png"  class="lady"/></div>
        </div>
        <div class="privilege">
            <div class="title"><h3>天使顾客特权</h3></div>
            <div class="triangle"></div>
            <div class="row">
                <div class="col-xs-3">
                    <div class="border">
                        <img src="__PUBLIC__/images/10.png"/></div>
                    <span>每日进度知晓</span>
                </div>
                <div class="col-xs-3">
                    <div class="border">
                        <img src="__PUBLIC__/images/11.png"/></div>
                    <span>第一时间体验产品</span>
                </div>
                <div class="col-xs-3">
                    <div class="border">
                        <img src="__PUBLIC__/images/12.png"/></div>
                    <span>享受天使客户折扣</span>
                </div>
                <div class="col-xs-3">
                    <div class="border">
                        <img src="__PUBLIC__/images/13.png"/></div>
                    <span>零距离接触开发团队</span>
                </div>
            </div>
            <a href="#">申请成为天使客户</a>
        </div>
        <div class="plan">
            <div class="title"><h3>时间计划表</h3></div>
            <div class="triangle border-color"></div>
            <img src="__PUBLIC__/images/plan.png"/>
        </div>
        <div class="introduce">
            <div class="title"><h3>产品人员介绍</h3></div>
            <div class="triangle"></div>
            <div class="message">
                <img src="__PUBLIC__/images/touxiang.png" height="160" width="160"/>
                <dl>
                    <dt>奕潇</dt>
                    <dd>资深社交产品经理，知名社交产品OpenSNS的产品经理和早期的主程，想天科技创始人。8年行业经验</dd>
                </dl>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom-message">
                <div class="bottom-left">
                    <div class="row">
                        <div class="col-xs-4">
                            <dl>
                                <dt>产品链接</dt>
                                <dd>OpenCenter</dd>
                                <dd>OSSDK个圈</dd>
                                <dd>ThinkPHP</dd>
                                <dd>OSChina</dd>
                            </dl>
                        </div>
                        <div class="col-xs-4">
                            <dl>
                                <dt>关于我们</dt>
                                <dd>产品购买</dd>
                                <dd>体验下线</dd>
                                <dd>功能</dd>
                                <dd>版本</dd>
                            </dl>
                        </div>
                        <div class="col-xs-4">
                            <dl>
                                <dt>联系我们</dt>
                                <dd>在线咨询客户经理</dd>
                                <dd>QQ：2565044240</dd>
                                <dd>QQ：3288307190</dd>
                                <dd>咨询热线：400-0573080</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="bottom-right">
                    <div class="row">
                        <div class="col-xs-6 padding-zero">
                            <img src="__PUBLIC__/images/erweima.png"/>
                            <p>扫一扫部分体验原型</p>
                        </div>
                        <div class="col-xs-6">
                            <img src="__PUBLIC__/images/erweima.png"/>
                            <p>扫一扫加Q群</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-bottom">
                <p>嘉兴想天信息科技有限公司</p>
                <p>Copyright ©2013-2017 嘉兴想天信息科技有限公司 浙ICP备12042711号-5</p>
            </div>
        </div>
    </div>
</body>
</html>