<extend name="Base/common"/>
<block name="css">
    <link rel="stylesheet" href="__CSS__/detail.css"/>
    <link rel="stylesheet" href="__CSS__/comment.css"/>
</block>
<block name="body">
    <div class="page-group" >
        <div class="page page-current" style="background-color: #fff">
            <header class="bar bar-nav comHead">
                <a class="iconfont icon-xiangzuojiantou pull-left button button-link back"
                   href="javascript:history.go(-1);"></a>
                <a href="javascript:" class="title">{$goods.name}的评论</a>
            </header>
            <div class="content me infinite-scroll">
                 <div class="content1 " data-total="{$count}">
                 </div>
                <div class="infinite-scroll-preloader">
                    <div class="preloader">
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="__PUBLIC_JS__/refreshData.js"></script>
    <script>
        var url="Mall/index/addListComment";
        var total=$('.content1').attr('data-total');
        var container='.content1';
        var data='{$goods.id}';
        refreshData(url,total,container,{data:data});
    </script>
</block>